.hidden {
display: none;
}

.container {
margin-top: 40px;
    margin-left: 250px;

}

li {
    cursor: pointer;
    display: block;
    background: rgb(191, 87, 201); 
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}
#question{
    margin-bottom: 5px;
    /* margin-left:10px; */
    
}
#goBack{
background-color: blueviolet;
}
#clearScores{
    background-color: blueviolet;

}